@model BackEnd.Models.Users

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="USER_NAME" class="control-label"></label>
                <input asp-for="USER_NAME" class="form-control" />
                <span asp-validation-for="USER_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="USER_PASSWORD" class="control-label"></label>
                <input asp-for="USER_PASSWORD" class="form-control" />
                <span asp-validation-for="USER_PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOG_DATE_CREATE" class="control-label"></label>
                <input asp-for="LOG_DATE_CREATE" class="form-control" />
                <span asp-validation-for="LOG_DATE_CREATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOG_DATE_UPDATE" class="control-label"></label>
                <input asp-for="LOG_DATE_UPDATE" class="form-control" />
                <span asp-validation-for="LOG_DATE_UPDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOG_USER_CREATE" class="control-label"></label>
                <input asp-for="LOG_USER_CREATE" class="form-control" />
                <span asp-validation-for="LOG_USER_CREATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LOG_USER_UPDATE" class="control-label"></label>
                <input asp-for="LOG_USER_UPDATE" class="form-control" />
                <span asp-validation-for="LOG_USER_UPDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
