<mat-toolbar class="tool-bar">
    <span class="spacer"></span>
    <button mat-button (click)="drawer.toggle()" style="color: #fff;">
        <mat-icon style="margin-right: 0px;">menu</mat-icon>
    </button>
    <span class="example-spacer"></span>

    <mat-icon style="color: #fff !important;">person </mat-icon>
    <span class="ps-2" style="color: #fff">{{subUsuario}}</span>
</mat-toolbar>



<mat-drawer-container class="example-container" full-screen>
    <mat-drawer #drawer class="example-sidenav" mode="over" opened="false" style="width: 200px;">
        <mat-nav-list>
            <mat-list-item *ngFor="let menu of listaMenu" [routerLink]="menu.moduloRoute" mat-list-item>
                <div class="list-item-content">
                    <mat-icon>{{menu.moduloIcon}}</mat-icon>
                    <span>{{menu.moduloName}}</span>
                </div>
            </mat-list-item>

            <a (click)="cerrarSesion()" routerLinkActive="active-list-item" mat-list-item>
                <mat-icon>logout</mat-icon>
                <span>&nbsp;Salir</span>
            </a>
        </mat-nav-list>

    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>